*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: blue;
}

#card{
height: 420px;
color: red; 
width: 300px;
background-color: white;
padding: 30px;
border-radius: 5px;

}

#card img{
    height: 50%;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



#card h1{
  
    font-size: 30px;
    font-weight: 900;

   margin:10px 85px ;
}

#card h5{
  
    font-size: 25px;
    font-weight: 900;
    margin:25px 95px ;
}

#btn-container button{
    font-size: 15px;
    background-color: rgb(0, 157, 255);
    color: white;
    border: none;
    font-weight: 700;
    margin:10px 95px ;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

#card #remove{
background-color: rgb(108, 119, 119);
color: black;
}